# Node
node_modules
.npm
*.log
npm-debug.log*

# IDE (including symlinks)
.vscode
.idea
.classpath
.settings
.metadata
.gradle
gradle
.project
*.iml
*.launch
atlassian-ide-plugin.xml

# Other
.DS_Store

# Build artifact
com.mgmtp.a12-*.tgz
tsconfig.tsbuildinfo
gradlew
gradlew.bat

# Maven
.maven

# Build folder
build
